html, body, .wrapper{
    width: 100%;
    height: 100%;
}
body{
    margin: 0
}
.wrapper>div{
    padding: 1%;
    box-sizing: border-box;
}
.wrapper> div:first-child{
    background: #c41230; 
    width: 100%;
    height: 50%;
     
}

.wrapper> div:last-child{
    background: #184767;
    width: 100%;
    height: 50%;
    
}
.red_container>div:first-child{
    width: 30%;
    height: 100%;
    float: left;
    margin-right: 1%;
    background: #fff;
}
.red_container>div:last-child{
    width: 68%;
    height: 100%;
    display: inline-block;
    background: #fff;
    
}
.blue_container>div:first-child{
    width: 30%;
    height: 100%;
    float: left;
    margin-right: 1%;
    background: #fff;
}
.blue_container>div:last-child{
    width: 68%;
    height: 100%;
    float: left;
    background: #fff;
    
}
.right_section>div:first-child{
    background: #fff;
    width: 100%;
    height: 25%;
    box-sizing: border-box;
    padding-top: 3%;
}
.logo{
    width: 10%;
    height: 44px;
    background-image: url(../../images/Mitt_Romney_logo.svg.png);
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
    
}
    

