html, body, .wrapper{
    width: 100%;
    height: 100%;
}
body{
    margin: 0
}
.wrapper>div{
    padding: 1%;
    box-sizing: border-box;
}
.wrapper> div:first-child{
    width: 100%;
    height: 50%;
    background: #c41230;  
}
.wrapper> div:last-child{
    width: 100%;
    height: 50%;
    background: #184767;
}



    

