html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: antiquewhite;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.div1{
    width: 100%;
    height: 50%;
    background-color: rgb(159, 209, 192)
    
}
.div2{
    
}