*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
html, body{
    background-color: #f2f2f0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    background-color: #333333;
    align-items: center;
    padding-left: 25px;
    justify-content: space-between;
}
.logonav{
    display: flex;
}
img{
    margin: 20px 30px 20px 0px;
    display: flex;
    height: 55px;
}
nav{
    display: flex;
    
}

.mobile-menu-icon{
    display: none;
    color: #f2f2f0; 
    padding: 20px 20px;
    line-height: 60px;
}
a{
    list-style-type: none;
    padding: 20px 20px;
    line-height: 60px;
    color: rgb(255, 255, 255);
    text-decoration: none;  
    font-size: 16px; 
}
.download>button{
    background-color: #fa5c4f;
    border: 1px solid #fa5c4f;
    color: #f2f2f0;
}
.download>a{
    justify-content: center;
    padding: 0;
    align-items: center;
}
.red{
    margin-top: 100px;
    color: rgb(255, 255, 255);
    height: 350px;
    background-color: #fa5c4f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;   
}
.txt{
    width: 700px;
    padding-bottom: 30px;
}
h2{
    padding-bottom: 3em;
}
button{
    border: 1px solid #fff;
    border-radius: 7px;
    width: 150px;
    padding: 15px;
    margin: 15px;
    background-color: #fff;
    font-size: 15px;
}
.start{
    color: #fff;
    background-color: #fa5c4f;
}
.gray{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: rgb(226, 226, 226);
}
.div4{
    display: flex;
    justify-content: center;
    text-align: center;  
    padding-bottom: 60px; 
}
/* .div41{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;  
    padding-bottom: 60px; 
} */
.div4>div{
    color: #404040;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 25%;
    min-width: 150px;
    max-width: 300px;
    margin: 20px;
    padding: 10px;
}
.div4>div>img{
    width: 100px;
    height: 100px;
    border: 2px solid #404040;
    border-radius: 50%;
    padding: 32px;
    margin: 20px;
}
.div4>div>p{
    width: 220px;
}
hr{
    width: 75px;
    height: 3px;
    background-color: #fa5c4f;
    border: none;
    margin: 20px auto;
}
h2{
    padding: 40px;
    background-color: #fa5c4f;
    color: #fff;
    text-align: center; 
    font-weight: unset;
}
.white{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   
    padding: 40px;
}
.white>img{
    height: 35em;
}
.white>div{
    font-family: 'AvenirNextLTW02-Regular', 'sans-serif';
    color: #404040;
    display: flex;
    flex-direction: column;
    padding: 150px;
}
.white>div>h4, .white>div>p{
    width: 300px;
}

.lastdiv{
    display: flex;
    flex-direction: column;
    background-color: #404040;
    align-items: center;
    padding: 40px 40px 10px 40px;
    padding-bottom: 85px;
}
.lastdiv>h3{
    color: #f2f2f0;
    padding-bottom: 15px;
}
.lastdiv>div>:first-child{
    background-color: #fa5c4f;
    border: 1px solid #fa5c4f;
    color: #f2f2f0;
}
footer{
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    background-color: #333333;
    display: flex;
    align-items: center;
    color: #f2f2f0;
    font-size: 13px;
    justify-content: space-between;
}
footer>nav{
    padding-left: 100px;
}
footer>nav>a{
    font-size: 13px;
}
.inp{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.email{
    border: 1px solid transparent;
    border-radius: 0;
    width: 200px;
    padding: 6px;
    font-size: 12px; 
}
.submit{
    border: 1px solid transparent;
    border-radius: 0;
    width: 100px;
    background-color: #fa5c4f;
    color: #fff;
    font-size: 12px;
    padding: 6px;
}
#dropdown{
    background-color: #333333;
}
@media only screen and (max-width: 1000px){
    .nav1, .pbutton{
        display: none;
    }
    nav{
        flex-direction: column;
        
    }
    .foot{
        flex-direction: row;
    }
    .mobile-menu-icon{
        display: block;
    }
}
@media only screen and (max-width: 1000px){
    .div4, .white{
        display: none;
    }
    .div4, .white{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;  
        align-items: center;
        padding-bottom: 60px; 
    }
    .white{  
        padding: 40px;
    }
}





