html, body{
    height: 100%;
    width: 80%;
    margin: auto;
}
.header{
    display: flex;
    height: 10%;
    background-color: #333333;
}
.famo{
    display: flex;
    width: 60px;   
}
ul{
    list-style-type: none;
}
li{
    margin-left: 15px;
    float: left;
}
li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}