div{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    left: 0px;
    transition: all .5s linear;
}
#redBall{
    background: red;
    top: 20px;
}
#blackBall{
    background: black;
    top: 40px;
}