html, body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: auto;
}
.header{
    display: flex;
    height: 10%;
    background-color: #333333;
    align-items: center;
    padding-left: 25px;
}
.menu{
    display: flex;
    padding-left: 20px; 
}
a{
    list-style-type: none;
    padding: 20px 20px;
    line-height: 60px;
    color: #fff;
    text-decoration: none;  
    display: flex;
}
img{
    display: flex;
    height: 55px;
}
.download{
    background-color: #fa5c4f;
}