div{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    
    margin: 0;
}
div:hover{
    position: relative;
    animation-name: name;
    animation-duration: 2s;
}
@keyframes name{
    0%      {background-color: red; left: 0px; top: 0px;}
    100%    {background-color: yellow; left: 100%; top: 0px;}
}