html, body{
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    margin: auto;
}
.header{
    display: flex;
    height: 10%;
    background-color: #333333;
    align-items: center;
    padding-left: 25px;
}
.menu{
    display: flex;
    padding-left: 20px; 
}
a{
    list-style-type: none;
    padding: 20px 20px;
    line-height: 60px;
    color: #fff;
    text-decoration: none;  
    display: flex;
}
img{
    display: flex;
    height: 55px;
}
.download{
    
    background-color: #fa5c4f;
    position: absolute;
    width: 120px;
    height: 50px;
    margin: 25px 20px;
    line-height: 30px;
    right: 0px;
    
    border: none;

    
    text-align: center;
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}