#klor{
 width:100px;
 height:100px;
 border-radius:50%;
 background:red;
 position:relative;

}


.mystyle{
animation: example 3s;
}


@keyframes example {
 from {background-color: red;
 left:0;
 }
 to {background-color: yellow;
 left:95%}
}
